<div>

    <button class="btn-toolbar">
        @Html.ActionLink("Пользователи", "Users")
    </button>
</div>

<div>
    <button class="btn-toolbar">

        @Html.ActionLink("Лоты", "Lots")
    </button>
</div>
